name: CI Pipeline for core-service

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ dev, main ]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run Checkstyle
        run: ./gradlew :core-service:checkstyleMain :core-service:checkstyleTest

      - name: Run tests
        run: ./gradlew :core-service:test

      - name: Build project
        run: ./gradlew :core-service:build

      - name: Generate test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: core-service/build/test-results/test/*.xml
          retention-days: 7